@font-face {
	font-family: 'Noto Sans KR';
	src:url(NotoSansKR-Regular.otf);
}

@font-face {
	font-family: 'Gamja Flower';
	src:url(GamjaFlower-Regular.ttf);
}

@font-face {
	font-family: 'Gaegu';
	src:url(Gaegu-Regular.ttf);
}

@font-face {
	font-family: 'Gaegu Bold';
	src:url(Gaegu-Bold.ttf);
}

@font-face {
	font-family: 'Gaegu Light';
	src:url(Gaegu-Light.ttf);
}

@font-face {
	font-family: 'UD Digi Kyokasho N-R';
	src:url(UDDigiKyokashoN-R.ttf);
}

.gamjaflower {
	font-family: 'Gamja Flower', cursive;
	color: blue;
}

.gaegu {
	font-family: 'Gaegu', cursive;
}

.gaegu.bold {
	font-family: 'Gaegu Bold', cursive;
}

.gaegu.light {
	font-family: 'Gaegu Light', cursive;
}

p {
	text-indent: 0;
	font-family: 'Gamja Flower';
}

/* END mark */
.p7skbc {
	/* Galaxy A53 1080x2400 */
	/* color: brown; */
	/* border-style: solid; */
	padding-top: 768px;
	/* margin-top: 1000px; */
	/* padding-bottom: 3000px; */
	/* margin-bottom: 3000px; */
}

/* less important text */
.x1p8df {
	color: gray;
}

/* Japanese text */
.q0o2z1 {
	font-family: 'UD Digi Kyokasho N-R'
}