@font-face {
  font-family: 'Gaegu One';
  font-weight: bold;
  src:url(Gaegu-Bold.ttf);
}

@font-face {
  font-family: 'Gaegu Two';
  font-weight: lighter;
  src:url(Gaegu-Light.ttf);
}

@font-face {
  font-family: 'Gaegu Three';
  font-weight: normal;
  src:url(Gaegu-Regular.ttf);
}

@font-face {
  font-family: 'Gamja Flower';
  font-weight: normal;
  src:url(GamjaFlower-Regular.ttf);
}

.gaegu.bold {
  font-family: 'Gaegu One', cursive;
}

.gaegu.light {
  font-family: 'Gaegu Two', cursive;
}

.gaegu {
  font-family: 'Gaegu Three', cursive;
}

.gamjaflower {
  font-family: 'Gamja Flower', cursive;
  color: blue;
}
